.recipe-card {
    margin: 50px;
    background-color: rgb(181, 128, 221);
    border-radius: 10PX;
    padding: 50px;
    width: 50%;
    margin-top: 40px;
    margin: 0 auto;
    

}
    .recipe-title {
        text-align: center;
    }

   
    
   